    <% title "Agriturismo" %>

    <!-- BREADCRUMBS -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">OSPITALITA', BENESSERE, EVENTI</h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">Azienda Agricola > Agriturismo</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- HERO UNIT -->
    <section class="hero-unit-slider">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item" style="background: url(<%= image_path("agriturismo/casale1.JPG") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Il casale</h2>
              <p class="lead">Il magnifico casale nasce dalla ristrutturazione di una casa colonica umbra risalente all'800 i cui lavori hanno saputo conservare l'aspetto rustico e l'architettura originaria.</p>
            </div>
          </div>

          <div class="item" style="background: url(<%= image_path("agriturismo/casale2.JPG") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Il casale</h2>
              <p class="lead">Si può riconoscere, tra le stanze, i corridoi e gli ambienti comuni, l’uso dei materiali tipici della regione: il cotto, le travature in legno, il travertino bocciardato, i tetti in coppi e le eleganti tinte a calce alternate alla pietra. </p>
            </div>
          </div>

          <div class="item" style="background: url(<%= image_path("agriturismo/camere1.jpg") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Le camere</h2>
              <p class="lead">Le 11 camere a disposizione degli ospiti offrono l’atmosfera della cultura contadina unita al massimo comfort degli arredamenti e dei volumi interni, per un soggiorno all’insegna di tutto il benessere e la tranquillità della vita in campagna.</p>
            </div>
          </div>

          <div class="item" style="background: url(<%= image_path("agriturismo/appartamenti1.jpg") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Gli appartamenti</h2>
              <p class="lead">I 7 appartamenti mantengono il legame con la tradizione tipica, ognuno con caratteristiche personalizzate dagli oggetti di arte povera provenienti dai mercatini locali.</p>
            </div>
          </div>

          <div class="item" style="background: url(<%= image_path("agriturismo/ristorante1.JPG") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Il ristorante</h2>
              <p class="lead">Coerentemente con l’ambientazione, il ristorante dell’agriturismo regala un’esperienza enogastronomica fedele alle tipicità locali. I piatti e i vini regionali più rappresentativi, semplici ma ricchi di gusto, sono uno dei nostri punti di forza.</p>
            </div>
          </div>

          <div class="item" style="background: url(<%= image_path("agriturismo/centrobenessere1.JPG") %>) center center no-repeat; background-size:cover; height:500px">
            <div class="carousel-caption agriturismo" style="text-align:left">
              <h2 class="hero-heading">Il centro benessere</h2>
              <p class="lead">Lasciatevi conquistare dai trattamenti del nostro centro benessere per un’esperienza rigenerante che non dimenticherete.</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END HERO UNIT -->

    <div class="clearfix margin-bottom-30px"></div>

    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">

      <section>
        <div class="row">
          <div class="col-md-6">
            <div class="boxed-content">
              <i class="fa fa-users" style="margin-bottom:20px"></i>
              <h2 class="boxed-content-title">IL TUO EVENTO</h2>
              <p>I tuoi momenti più importanti, le tue feste in famiglia o con gli amici. I meeting, le riunioni di lavoro e le conferenze qui alla Play Horse Farm. Rivolgiti a noi per pianificare con cura ogni dettaglio del tuo evento.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxed-content">
              <img src="<%= image_path("icons/horseicon.png") %>" style="margin-bottom:20px" class="icon3x">
              <h2 class="boxed-content-title">MONTARE A CAVALLO</h2>
              <p>La nostra azienda dispone tra le migliori strutture tecniche in Italia per le lezioni di equitazione. Gli immensi spazi verdi tra le colline e i percorsi immersi nella natura che circonda la Play Horse Farm sono l’ideale per le passeggiate a cavallo alla scoperta di questa splendida regione. </p>
            </div>
          </div>
        </div>
      </section>

        <section>
          <h2 class="section-heading">NEI DINTORNI</h2>
          <div class="row">
            <div class="col-md-6 text-justify">
              <p><strong>Alviano</strong> è un antico borgo medievale circondato da suggestivi luoghi d’interesse come l’area protetta dell’<strong>Oasi del Lago di Alviano</strong> o il meraviglioso <strong>Castello medievale Doria Pamphili</strong> risalente al XV secolo.</p>
              <p>A 20 Km la città di <strong>Orvieto</strong> con l’imponente Duomo, capolavoro dell’architettura gotica italiana e <strong>Amelia</strong>, piccolo centro ai piedi dei <strong>monti Amerini</strong> cinto dalle mura poligonali.</p>
              <p>Altro centro d’interesse è il capoluogo: <strong>Perugia</strong>. A meno di un’ora si trova questa rinomata città d’arte e ricca area archeologica fondata dagli Etruschi. Nella sua provincia, su un colle che si affaccia sulla <strong>Valle del Tevere</strong>, sorge <strong>Todi</strong> con le sue piazze, i palazzi, le chiese e i musei che raccolgono le testimonianze lasciate nel tempo. Nella medesima provincia è situata <strong>Assisi</strong>, città di San Francesco e Santa Chiara, uno dei più prolifici centri economici e sociali dell’impero romano offre ai suoi visitatori le Basiliche e le Cattedrali più importanti d’Italia. </p>
              <p>Nel <strong>Lazio</strong>, a meno di un’ora di distanza si trova un luogo che non ha bisogno di presentazioni: <strong>Roma</strong>. Non lontano c’è la provincia di <strong>Viterbo</strong> col suo centro storico medievale, rinomata meta del benessere grazie alle ben note <strong>Terme dei Papi</strong>. </p>
              <p>A circa 160 Km, nella regione <strong>Toscana</strong>, la città di <strong>Firenze</strong>, importante patrimonio dell’umanità <strong>UNESCO</strong>, con la sua atmosfera Rinascimentale. </p>
              <hr class="no-desktop">
            </div>
            <div class="col-md-6 text-center">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zWKX_Nb75yYM.ke40KBfUrvD4" width="600" height="460"></iframe>
            </div>
          </div>
        </section>

      </div>
    </div>
    <!-- END PAGE CONTENT -->

    <!-- CALL-TO-ACTION -->
    <section class="call-to-action">
      <div class="container">
        <div class="pull-left">
          <h2 class="section-heading">PER MAGGIORI INFO:</h2>
        </div>
        <div class="pull-right">
          <strong>
            <i class="fa fa-phone"></i> &nbsp; +39 338 82 91 238 <br>
            <i class="fa fa-envelope"></i> &nbsp; garganigiulia@gmail.com
          </strong>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->

