  <% title "Manifestazioni Equestri" %>

    <!-- BREADCRUMBS -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">ASD <small>> Play Horse Club Umbria</small></h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">ASD > Manifestazioni Equestri</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">

      <!-- MISSION -->
      <section>
        <h2 class="section-heading">LE MANIFESTAZIONI EQUESTRI</h2>
        <p class="lead">Le nostre manifestazioni sportive sono dei veri e propri eventi che richiamano l'attenzione del pubblico, di media e sponsor grazie alla creatività e all'attenzione per i dettagli.</p>
        <br>
        <div class="row">
          <div class="col-md-6">
            <p>La nostra passione è il salto ad ostacoli, ma abbiamo realizzato impianti che consentono lo svolgimento di qualunque specialità:</p>
            <ul>
              <li>Dressage ad ogni livello;</li>
              <li>Completo a livello base;</li>
              <li>Cross a livello base e medio;</li>
              <li>Barrel e pole bending ad ogni livello;</li>
              <li>Endurance ad ogni livello;</li>
              <li>Tutte le specialità ludiche ad ogni livello;</li>
            </ul>
          </div>
          <div class="col-md-6">
            <hr class="no-desktop">
            <img src="/assets/various/dettaglio_cavallo.jpg" style="border-radius:10px; max-width:100%">
          </div>
        </div>
        <hr>
      </section>
      <!-- END MISSION -->

      <!-- EVENTS AND PROGRAMS -->
      <section>
        <div class="row">
          <div class="col-md-5">
            <h2 class="section-heading">CONCORSI</h2>
            <div class="hospitality-box" data-toggle="modal" data-target="#events_modal">
              <div class="row">
                <div class="col-xs-3" style="border-right:1px solid gray">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="col-xs-9">
                  <h4>Calendario concorsi</h4>
                </div>
              </div>
            </div>
            <hr>
            <h2 class="section-heading">CONTATTI</h2>
            <ul>
              <li>Per informazioni tecniche: Simone Sed (331 899 0312)</li>
              <li>Segreteria: Maurizio Iannò (333 333 1332)</li>
              <li>Ricettività interna, scuderizzazione, paglia, fieno, truciolo: Giulia Gargani (338 829 1238)</li>
            </ul>
            <hr>
            <h2 class="section-heading">NELLA ZONA</h2>
            <p class="lead">A vostra disposizione le soluzioni più congeniali alle vostre esigenze per un'ospitalità all'insegna dell'accoglienza in una regione la cui tradizione gastronomica saprà sempre stupirvi!</p>
            <a href="https://s3.eu-central-1.amazonaws.com/playhorse/dove_dormire.pdf" class="btn btn-primary"><i class="fa fa-bed"></i> Dove dormire</a> 
            <hr class="no-desktop">
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h2 class="section-heading">COMUNICAZIONI</h2>
            <p>Nessuna comunicazione disponibile.</p>
            <hr>
            <!-- Inizio codice ilMeteo.it -->
            <iframe style="width:100%" height="260" scrolling="no" frameborder="no" noresize="noresize" src="http://www.ilmeteo.it/box/previsioni.php?citta=198&type=day1&width=300&ico=1&lang=ita&days=6&font=Arial&fontsize=12&bg=FFFFFF&fg=000000&bgtitle=FFFFFF&fgtitle=8AA026&bgtab=F0F0F0&fglink=1773C2"></iframe>
            <!-- Fine codice ilMeteo.it -->
          </div>
        </div>
      </section>
      <!-- END EVENTS AND PROGRAMS -->

      </div>
    </div>
    <!-- END PAGE CONTENT -->

    <!-- TESTIMONIAL -->
    <section class="testimonial-with-horse parallax">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 text-center">
            <div class="number-info info-big vertical">
              <p>-<span>CONCORSI ORGANIZZATI</span></p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="number-info info-big vertical">
              <p>-<span>PARTECIPANTI</span></p>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="number-info info-big vertical">
              <p>-<span>CAVALLI IN GARA</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END TESTIMONIAL -->

        <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">

        <section>
        <!-- MULTIPLE PRICING -->
        <div class="multiple-pricing-table">
          <div class="plan-heading">
            <h4>Le nostre strutture</h4>
            <p class="text-muted">Servizi e strutture all'avanguardia per gli atleti e il pubblico</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-building-o plan-icon"></i>
                <h3>IMPIANTI</h3>
                <hr>
                <div class="text-left">
                  <h4>Campi gara</h4>
                  <ul class="list-unstyled">
                    <li><strong>2 campi</strong> (m. 120 x 80) in sabbia silicea bianca utilizzabili con ogni tipo di condizione metereologica;</li>
                    <li><strong>1 campo</strong> (m. 80 x 50) in sabbia silicea utilizzabile in ogni condizione metereologica;</li>
                    <li><strong>1 campo indoor</strong> (m. 85 x 47) in sabbia silicea bianca.</li>
                  </ul>
                  <h4>Campi prova e da lavoro</h4>
                  <ul class="list-unstyled">
                    <li><strong>3 campi prova</strong> di cui uno coperto;</li>
                    <li><strong>3 tondini</strong> (uno coperto, due scoperti);</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-building plan-icon"></i>
                <h3>IMPIANTI DI SERVIZIO</h3>
                <hr>
                  <div class="text-left">
                    <p class="text-muted">I nostri impianti di servizio all'avanguardia sono adatti per qualunque esigenza: </p>
                    <ul class="list-unstyled">
                      <li><strong>400 box fissi</strong> oltre ad area attrezzata per il posizionamento di ulteriori 400 box;</li>
                      <li><strong>Parcheggi per 160 van</strong> trasporto cavalli con altrettanti punti luce adeguatamente dotati di energia elettrica;</li>
                      <li><strong>Servizi igienici</strong> e <strong>docce</strong> in muratura per gli operatori;</li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-bed plan-icon"></i>
                <h3>INFRASTRUTTURE</h3>
                <hr>
                <div class="text-left">
                  <p class="text-muted">Le infrastrutture sono destinate a pubblico, atleti ed accompagnatori</p>
                  <ul class="list-unstyled">
                    <li><strong>Ampi parcheggi</strong> per oltre 1500 auto;</li>
                    <li><strong>Tribune</strong> per oltre 1500 posti a sedere;</li>
                    <li><strong>Ristoranti/bar</strong> per oltre 1500 coperti;</li>
                    <li><strong>Foresterie</strong> per atleti;</li>
                    <li><strong>Palestra</strong> ed <strong>area benessere</strong>;</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END MULTIPLE PRICING -->
        </section>

      </div>
    </div>
    <!-- END PAGE CONTENT -->

    <!-- CALL-TO-ACTION -->
    <section class="call-to-action">
      <div class="container">
        <div class="pull-left">
          <h2 class="section-heading">ALTRE DOMANDE?</h2>
        </div>
        <div class="pull-right">
          <a href="/#contact" class="btn btn-lg btn-primary">CONTATTACI QUI</a>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->

        <!-- EVENTS MODAL -->
    <div class="modal fade" id="events_modal" tabindex="-1" role="dialog" aria-labelledby="events_modal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="events_modal_title"><i class="fa fa-calendar"></i> Calendario concorsi</h4>
          </div>
          <div class="modal-body">
            <!-- Table -->
            <table class="table">
              <col width="20%">
              <col width="52%">
              <col width="7%">
              <col width="7%">
              <col width="7%">
              <col width="7%">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Categoria</th>
                  <th> </th>
                  <th> </th>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <% @events.each do |event| %>
                <tr>
                  <td><%= event.date %></td>
                  <td><b><%= event.name.upcase %></b></td>
                  <td><%= event.program.empty? ? "" : ("<a href='"+event.program+"' target='_blank'><i class='fa fa-file-pdf-o fa-lg'></i></a>").html_safe %></td>
                  <td><%= event.hours.empty? ? "" : ("<a href='"+event.hours+"' target='_blank'><i class='fa fa-clock-o fa-lg'></i></a>").html_safe %></td>
                  <td><%= event.announcement.empty? ? "" : ("<a href='"+event.announcement+"' target='_blank'><i class='fa fa-volume-up fa-lg'></i></a>").html_safe %></td>
                  <td><%= event.result.empty? ? "" : ("<a href='"+event.result+"' target='_blank'><i class='fa fa-list-ol fa-lg'></i></a>").html_safe %></td>
                </tr>
                <% end %>
              </tbody>
            </table>

            <% if @events.empty? || @events.nil? %>
            <div class="text-center" style="padding:50px">
              <h4><i class="fa fa-frown-o"></i> Non ci sono concorsi in programma.</h4>
              <p>Torna prossimamente per gli ultimi aggiornamenti sui concorsi!</p>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- END EVENTS MODAL -->