<% title "Chi siamo" %>

    <!-- BREADCRUMBS -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">CHI SIAMO</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Chi siamo</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">

        <!-- DESCRIPTION -->
        <section>
          <div class="row">
            <div class="col-md-6 text-justify">
              <h3>Benvenuti!</h3>
              <p>La <b>Play Horse Farm</b> è un'azienda che nasce da realtà totalmente autonome ma complementari ma che operano in sincronia tra loro. Un contenitore che, nel tempo, si è arricchito di figure professionali che hanno dato vita a progetti di passione e innovazione. In particolare, l'area dedicata alla ricettività e alla ristorazione, entrambe valore aggiunto del club che ospita sui suoi campi gara le manifestazioni equestri, offrendo così ai numerosi partecipanti un ambiente ospitale e funzionale in una location davvero suggestiva.</p>
              <p>E' con orgoglio, inoltre, che ci dedichiamo al nostro allevamento di cavalli da salto, i nostri futuri campioni, e al comparto agricolo che, con la produzione di cereali e foraggi, costituisce una preziosa risorsa. Questi, in sintesi, sono solo alcuni degli esempi di come funzioni il sistema <b>Play Horse</b>, una vera e propria "filiera corta" che ruota attorno al cavallo, al cavaliere e al loro benessere.</p><br>
            </div>
            <div class="col-md-6">
              <div class="featured-video">
                <iframe src="https://www.youtube.com/embed/2ls-iYDdrwk" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <br>
          <hr>
        </section>

        <!-- SRL TEAM -->
        <section class="team">
          <h2 class="section-heading">LO STAFF <small>> Play Horse SRL (Via G. Ferrari, 4 00195 Roma)</small></h2>
          <div class="section-content">

            <div class="row">
              <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/francesco_catalano.jpg', alt: 'Francesco Catalano', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Francesco Catalano</h3>
                  <strong>Amministratore Unico</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/silvia_catalano.jpg', alt: 'Silvia Catalano', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Silvia Catalano</h3>
                  <strong>Responsabile Amministrativo</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="mailto:catasilvia@libero.it"><i class="fa fa-envelope-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-5">
                <div class="team-member media">
                  <%= image_tag('staff/fabrizio_porcaroli.jpeg', alt: 'Fabrizio Porcaroli', class: 'media-object img-circle pull-left') %>
                  <div class="media-body">
                    <h3 class="media-heading team-name">Fabrizio Porcaroli</h3>
                    <strong>Responsabile Marketing e Commerciale</strong>
                    <hr class="pull-left">
                    <div class="clearfix"></div>
                    <ul class="list-inline social-icon">
                      <li>
                        <a href="https://www.facebook.com/fabrizio.porcaroli"><i class="fa fa-facebook"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-md-5 col-md-offset-2">
                <div class="team-member media">
                <%= image_tag('staff/alvise_sed.jpeg', alt: 'Alvise Sed', class: 'media-object img-circle pull-left') %>
                  <div class="media-body">
                    <h3 class="media-heading team-name">Alvise Sed</h3>
                    <strong>2° Cavaliere - Area Cavalli Sportivi</strong>
                    <hr class="pull-left">
                    <div class="clearfix"></div>
                    <ul class="list-inline social-icon">
                      <li>
                        <a href="https://www.facebook.com/alvise.sed"><i class="fa fa-facebook"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- END SRL TEAM -->

        <!-- ASD TEAM -->
        <section class="team">
          <h2 class="section-heading">LO STAFF <small>> ASD Play Horse Club Umbria (Vocabolo Pupigliano, 25 05020 Alviano (TR))</small></h2>
          <div class="section-content">

            <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/renato_ferrara.jpg', alt: 'Renato Ferrara', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Renato Ferrara</h3>
                  <strong>Presidente</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/renato.ferrara.12"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="top" title="328 98 38 039"><i class="fa fa-phone"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/simone_sed.jpg', alt: 'Simone Sed', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Simone Sed</h3>
                  <strong>Istruttore del Club <br> Responsabile Tecnico Eventi</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/simone.sed"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:sedsimone@libero.it"><i class="fa fa-envelope-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/pierluigi_nassi.jpg', alt: 'Pierluigi Nassi', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Pierluigi Nassi</h3>
                  <strong>Istruttore del Club - 3° Livello</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/pierluigi.nassi"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:pierluigi.nassi@libero.it"><i class="fa fa-envelope-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/francesco_catalano.jpg', alt: 'Francesco Catalano', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Francesco Catalano</h3>
                  <strong>Responsabile Relazioni Istituzionali</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li></li>
                  </ul>
                  <br>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/alessandro_galeazzi.jpeg', alt: 'Alessandro Galeazzi', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Alessandro Galeazzi</h3>
                  <strong>Responsabile Relazioni Istituzionali</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/profile.php?id=100006887599142"><i class="fa fa-facebook"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/giancarlo_monetini.jpg', alt: 'Giancarlo Monetini', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Giancarlo Monetini</h3>
                  <strong>Coordinatore dello Staff</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/giancarlo.monetini"><i class="fa fa-facebook"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/giulia_gargani.jpg', alt: 'Giulia Gargani', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Giulia Gargani</h3>
                  <strong>Responsabile Ospitalità Atleti, Scuderizzazione <br> Responsabile Allevamento</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="garganigiulia@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="top" title="338 82 91 238"><i class="fa fa-phone"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/elisabetta_tomasco.jpeg', alt: 'Elisabetta Tomasco', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Elisabetta Tomasco</h3>
                  <strong>Interprete e Traduttore - Language Specialist <br> Speaker</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="https://www.facebook.com/elisabetta.tomasco"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="mailto:eli.tomasco@gmail.com"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                      <a href="mailto:playhorsef@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="team-member media">
                <%= image_tag('staff/profile-placeholder.jpg', alt: 'Happy e Kumar', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Happy e Kumar</h3>
                  <strong>Responsabili Scuderia</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">

                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <%= image_tag('staff/artan_daci.jpg', alt: 'Artan Daci', class: 'media-object img-circle pull-left') %>
                <div class="media-body">
                  <h3 class="media-heading team-name">Artan Daci</h3>
                  <strong>Responsabile Aziendale</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <ul class="list-inline social-icon">

                  </ul>
                </div>
              </div>
            </div>

          </div> <!-- END SECTION CONTENT -->
        </section>
        <!-- END ASD TEAM -->

      </div>
    </div>
    <!-- END PAGE CONTENT -->

    <!-- CALL-TO-ACTION -->
    <section class="call-to-action">
      <div class="container">
        <div class="pull-left">
          <h2 class="section-heading">DOMANDE?</h2>
        </div>
        <div class="pull-right">
          <span>Chiamaci al +39 331 899 0312 oppure </span>&nbsp;&nbsp;<a href="/#contact" class="btn btn-lg btn-primary">CONTATTACI QUI</a>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->