<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) + " | Play Horse Farm" : "Admin | Play Horse Farm" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' %>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Angelo Tomasco 2015">
</head>

<body>

	<div class="wrapper">

		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ph-admin-navbar" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand navbar-logo" href="/" style="position:relative; top:-7px;">
		      	<%= image_tag('logo/logo_new_white.png', alt: 'Play Horse Farm') %>
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="ph-admin-navbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/admin">Home</a></li>
		        <li><a href="/admin/articles">News</a></li>
		        <li><a href="/admin/events">Eventi</a></li>
		        <li><a href="/admin/horses">Scuderia</a></li>
		        <li><a href="/admin/mares">Fattrici</a></li>
		        <li><a href="/admin/products">Prodotti</a></li>
		        <li><a href="/admin/staff">Staff</a></li>
		        <li><a href="/admin/faq">Faq</a></li>
		        <li><a href="/admin/tools">Impostazioni</a></li>
		        <li><a href="/admin/logout">Logout</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<%= yield %>
		
	</div>
	
	
</body>
</html>